body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-5px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u798 {
  position:absolute;
  left:105px;
  top:85px;
  width:900px;
  height:28px;
}
#u799 {
  position:absolute;
  left:2px;
  top:6px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1590px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u800 {
  position:absolute;
  left:105px;
  top:115px;
  width:900px;
  height:1590px;
}
#u801 {
  position:absolute;
  left:2px;
  top:787px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  position:absolute;
  left:115px;
  top:90px;
  width:201px;
  height:18px;
}
#u803 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u804 {
  position:absolute;
  left:5px;
  top:85px;
  width:95px;
  height:90px;
}
#u804_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:101px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u806_img.mouseOver {
}
#u806.mouseOver {
}
#u807 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u808 {
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:30px;
}
#u808_img.mouseOver {
}
#u808.mouseOver {
}
#u809 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u810 {
  position:absolute;
  left:0px;
  top:60px;
  width:95px;
  height:30px;
}
#u810_img.mouseOver {
}
#u810.mouseOver {
}
#u811 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u812 {
  position:absolute;
  left:5px;
  top:5px;
  width:1000px;
  height:70px;
}
#u813 {
  position:absolute;
  left:2px;
  top:27px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u814 {
  position:absolute;
  left:25px;
  top:20px;
  width:196px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  position:absolute;
  left:131px;
  top:288px;
  width:113px;
  height:18px;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:134px;
}
#u818 {
  position:absolute;
  left:265px;
  top:288px;
  width:222px;
  height:134px;
}
#u819 {
  position:absolute;
  left:2px;
  top:59px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u820 {
  position:absolute;
  left:510px;
  top:288px;
  width:281px;
  height:61px;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  position:absolute;
  left:510px;
  top:382px;
  width:140px;
  height:40px;
}
#u823 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u824 {
  position:absolute;
  left:131px;
  top:445px;
  width:121px;
  height:18px;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:134px;
}
#u826 {
  position:absolute;
  left:265px;
  top:445px;
  width:222px;
  height:134px;
}
#u827 {
  position:absolute;
  left:2px;
  top:59px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u828 {
  position:absolute;
  left:510px;
  top:445px;
  width:281px;
  height:61px;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  position:absolute;
  left:510px;
  top:539px;
  width:140px;
  height:40px;
}
#u831 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u832 {
  position:absolute;
  left:131px;
  top:140px;
  width:79px;
  height:18px;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u834 {
  position:absolute;
  left:265px;
  top:137px;
  width:300px;
  height:25px;
}
#u834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  position:absolute;
  left:131px;
  top:191px;
  width:79px;
  height:18px;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  position:absolute;
  left:137px;
  top:241px;
  width:73px;
  height:18px;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u839 {
  position:absolute;
  left:265px;
  top:188px;
  width:150px;
  height:25px;
}
#u839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u840 {
  position:absolute;
  left:265px;
  top:237px;
  width:150px;
  height:25px;
}
#u840_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  position:absolute;
  left:131px;
  top:751px;
  width:107px;
  height:18px;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u843 {
  position:absolute;
  left:265px;
  top:782px;
  width:707px;
  height:211px;
}
#u843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:211px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:31px;
}
#u844 {
  position:absolute;
  left:265px;
  top:751px;
  width:707px;
  height:31px;
}
#u845 {
  position:absolute;
  left:2px;
  top:8px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:844px;
  height:5px;
}
#u846 {
  position:absolute;
  left:131px;
  top:1068px;
  width:841px;
  height:2px;
}
#u847 {
  position:absolute;
  left:2px;
  top:-7px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u848 {
  position:absolute;
  left:131px;
  top:1089px;
  width:79px;
  height:18px;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u850 {
  position:absolute;
  left:265px;
  top:1086px;
  width:150px;
  height:25px;
}
#u850_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u851 {
  position:absolute;
  left:131px;
  top:1136px;
  width:79px;
  height:18px;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u853 {
  position:absolute;
  left:265px;
  top:1133px;
  width:400px;
  height:25px;
}
#u853_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u854_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:844px;
  height:5px;
}
#u854 {
  position:absolute;
  left:131px;
  top:1283px;
  width:841px;
  height:2px;
}
#u855 {
  position:absolute;
  left:2px;
  top:-7px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u856 {
  position:absolute;
  left:131px;
  top:1313px;
  width:79px;
  height:18px;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u858 {
  position:absolute;
  left:265px;
  top:1313px;
  width:400px;
  height:25px;
}
#u858_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u859 {
  position:absolute;
  left:131px;
  top:1481px;
  width:79px;
  height:18px;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u861 {
  position:absolute;
  left:265px;
  top:1485px;
  width:707px;
  height:124px;
}
#u861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:124px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u862 {
  position:absolute;
  left:131px;
  top:1179px;
  width:79px;
  height:18px;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:89px;
}
#u864 {
  position:absolute;
  left:265px;
  top:1179px;
  width:92px;
  height:89px;
}
#u865 {
  position:absolute;
  left:2px;
  top:36px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  position:absolute;
  left:384px;
  top:1179px;
  width:281px;
  height:30px;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:384px;
  top:1228px;
  width:140px;
  height:40px;
}
#u869 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:131px;
  top:600px;
  width:79px;
  height:18px;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u872 {
  position:absolute;
  left:265px;
  top:600px;
  width:707px;
  height:124px;
}
#u872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:124px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  position:absolute;
  left:131px;
  top:1360px;
  width:77px;
  height:18px;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:89px;
}
#u875 {
  position:absolute;
  left:265px;
  top:1364px;
  width:92px;
  height:89px;
}
#u876 {
  position:absolute;
  left:2px;
  top:36px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  position:absolute;
  left:384px;
  top:1364px;
  width:281px;
  height:30px;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  position:absolute;
  left:384px;
  top:1413px;
  width:140px;
  height:40px;
}
#u880 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u881 {
  position:absolute;
  left:5px;
  top:1738px;
  width:320px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1003px;
  height:5px;
}
#u883 {
  position:absolute;
  left:5px;
  top:1726px;
  width:1000px;
  height:2px;
}
#u884 {
  position:absolute;
  left:2px;
  top:-7px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u885 {
  position:absolute;
  left:5px;
  top:1767px;
  width:169px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u887 {
  position:absolute;
  left:5px;
  top:1806px;
  width:926px;
  height:365px;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u889 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u890 {
  position:absolute;
  left:44px;
  top:0px;
  width:58px;
  height:30px;
}
#u891 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u892 {
  position:absolute;
  left:102px;
  top:0px;
  width:126px;
  height:30px;
}
#u893 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u894 {
  position:absolute;
  left:228px;
  top:0px;
  width:94px;
  height:30px;
}
#u895 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:30px;
}
#u896 {
  position:absolute;
  left:322px;
  top:0px;
  width:599px;
  height:30px;
}
#u897 {
  position:absolute;
  left:2px;
  top:8px;
  width:595px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u898 {
  position:absolute;
  left:0px;
  top:30px;
  width:44px;
  height:30px;
  color:#FF0000;
}
#u899 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u900 {
  position:absolute;
  left:44px;
  top:30px;
  width:58px;
  height:30px;
  color:#FF0000;
}
#u901 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u902 {
  position:absolute;
  left:102px;
  top:30px;
  width:126px;
  height:30px;
  color:#FF0000;
}
#u903 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u904 {
  position:absolute;
  left:228px;
  top:30px;
  width:94px;
  height:30px;
  color:#FF0000;
}
#u905 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:30px;
}
#u906 {
  position:absolute;
  left:322px;
  top:30px;
  width:599px;
  height:30px;
  color:#FF0000;
}
#u907 {
  position:absolute;
  left:2px;
  top:8px;
  width:595px;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u908 {
  position:absolute;
  left:0px;
  top:60px;
  width:44px;
  height:30px;
  color:#FF0000;
}
#u909 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u910 {
  position:absolute;
  left:44px;
  top:60px;
  width:58px;
  height:30px;
  color:#FF0000;
}
#u911 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u912 {
  position:absolute;
  left:102px;
  top:60px;
  width:126px;
  height:30px;
  color:#FF0000;
}
#u913 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u914 {
  position:absolute;
  left:228px;
  top:60px;
  width:94px;
  height:30px;
  color:#FF0000;
}
#u915 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:30px;
}
#u916 {
  position:absolute;
  left:322px;
  top:60px;
  width:599px;
  height:30px;
  color:#FF0000;
}
#u917 {
  position:absolute;
  left:2px;
  top:8px;
  width:595px;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u918 {
  position:absolute;
  left:0px;
  top:90px;
  width:44px;
  height:30px;
}
#u919 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u920 {
  position:absolute;
  left:44px;
  top:90px;
  width:58px;
  height:30px;
}
#u921 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u922 {
  position:absolute;
  left:102px;
  top:90px;
  width:126px;
  height:30px;
}
#u923 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u924 {
  position:absolute;
  left:228px;
  top:90px;
  width:94px;
  height:30px;
}
#u925 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:30px;
}
#u926 {
  position:absolute;
  left:322px;
  top:90px;
  width:599px;
  height:30px;
}
#u927 {
  position:absolute;
  left:2px;
  top:8px;
  width:595px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u928 {
  position:absolute;
  left:0px;
  top:120px;
  width:44px;
  height:30px;
}
#u929 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u930 {
  position:absolute;
  left:44px;
  top:120px;
  width:58px;
  height:30px;
}
#u931 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u932 {
  position:absolute;
  left:102px;
  top:120px;
  width:126px;
  height:30px;
}
#u933 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u934 {
  position:absolute;
  left:228px;
  top:120px;
  width:94px;
  height:30px;
}
#u935 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:30px;
}
#u936 {
  position:absolute;
  left:322px;
  top:120px;
  width:599px;
  height:30px;
}
#u937 {
  position:absolute;
  left:2px;
  top:8px;
  width:595px;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u938 {
  position:absolute;
  left:0px;
  top:150px;
  width:44px;
  height:30px;
}
#u939 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u940 {
  position:absolute;
  left:44px;
  top:150px;
  width:58px;
  height:30px;
}
#u941 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u942 {
  position:absolute;
  left:102px;
  top:150px;
  width:126px;
  height:30px;
}
#u943 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u944 {
  position:absolute;
  left:228px;
  top:150px;
  width:94px;
  height:30px;
}
#u945 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:30px;
}
#u946 {
  position:absolute;
  left:322px;
  top:150px;
  width:599px;
  height:30px;
}
#u947 {
  position:absolute;
  left:2px;
  top:7px;
  width:595px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u948 {
  position:absolute;
  left:0px;
  top:180px;
  width:44px;
  height:30px;
}
#u949 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u950 {
  position:absolute;
  left:44px;
  top:180px;
  width:58px;
  height:30px;
}
#u951 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u952 {
  position:absolute;
  left:102px;
  top:180px;
  width:126px;
  height:30px;
}
#u953 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u954 {
  position:absolute;
  left:228px;
  top:180px;
  width:94px;
  height:30px;
}
#u955 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:30px;
}
#u956 {
  position:absolute;
  left:322px;
  top:180px;
  width:599px;
  height:30px;
}
#u957 {
  position:absolute;
  left:2px;
  top:8px;
  width:595px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u958 {
  position:absolute;
  left:0px;
  top:210px;
  width:44px;
  height:30px;
}
#u959 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u960 {
  position:absolute;
  left:44px;
  top:210px;
  width:58px;
  height:30px;
}
#u961 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u962 {
  position:absolute;
  left:102px;
  top:210px;
  width:126px;
  height:30px;
}
#u963 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u964 {
  position:absolute;
  left:228px;
  top:210px;
  width:94px;
  height:30px;
}
#u965 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:30px;
}
#u966 {
  position:absolute;
  left:322px;
  top:210px;
  width:599px;
  height:30px;
}
#u967 {
  position:absolute;
  left:2px;
  top:8px;
  width:595px;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u968 {
  position:absolute;
  left:0px;
  top:240px;
  width:44px;
  height:30px;
}
#u969 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u970 {
  position:absolute;
  left:44px;
  top:240px;
  width:58px;
  height:30px;
}
#u971 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u972 {
  position:absolute;
  left:102px;
  top:240px;
  width:126px;
  height:30px;
}
#u973 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u974 {
  position:absolute;
  left:228px;
  top:240px;
  width:94px;
  height:30px;
}
#u975 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:30px;
}
#u976 {
  position:absolute;
  left:322px;
  top:240px;
  width:599px;
  height:30px;
}
#u977 {
  position:absolute;
  left:2px;
  top:8px;
  width:595px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u978 {
  position:absolute;
  left:0px;
  top:270px;
  width:44px;
  height:30px;
}
#u979 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u980 {
  position:absolute;
  left:44px;
  top:270px;
  width:58px;
  height:30px;
}
#u981 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u982 {
  position:absolute;
  left:102px;
  top:270px;
  width:126px;
  height:30px;
}
#u983 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u984 {
  position:absolute;
  left:228px;
  top:270px;
  width:94px;
  height:30px;
}
#u985 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:30px;
}
#u986 {
  position:absolute;
  left:322px;
  top:270px;
  width:599px;
  height:30px;
}
#u987 {
  position:absolute;
  left:2px;
  top:8px;
  width:595px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u988 {
  position:absolute;
  left:0px;
  top:300px;
  width:44px;
  height:30px;
}
#u989 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u990 {
  position:absolute;
  left:44px;
  top:300px;
  width:58px;
  height:30px;
}
#u991 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u992 {
  position:absolute;
  left:102px;
  top:300px;
  width:126px;
  height:30px;
}
#u993 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u994 {
  position:absolute;
  left:228px;
  top:300px;
  width:94px;
  height:30px;
}
#u995 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:30px;
}
#u996 {
  position:absolute;
  left:322px;
  top:300px;
  width:599px;
  height:30px;
}
#u997 {
  position:absolute;
  left:2px;
  top:8px;
  width:595px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u998 {
  position:absolute;
  left:0px;
  top:330px;
  width:44px;
  height:30px;
}
#u999 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u1000 {
  position:absolute;
  left:44px;
  top:330px;
  width:58px;
  height:30px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u1002 {
  position:absolute;
  left:102px;
  top:330px;
  width:126px;
  height:30px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u1004 {
  position:absolute;
  left:228px;
  top:330px;
  width:94px;
  height:30px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:30px;
}
#u1006 {
  position:absolute;
  left:322px;
  top:330px;
  width:599px;
  height:30px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:8px;
  width:595px;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1008 {
  position:absolute;
  left:137px;
  top:1014px;
  width:107px;
  height:18px;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1010 {
  position:absolute;
  left:265px;
  top:1015px;
  width:100px;
  height:16px;
}
#u1011 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1010_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1012 {
  position:absolute;
  left:365px;
  top:1015px;
  width:100px;
  height:16px;
}
#u1013 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1012_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:105px;
  top:1662px;
  width:900px;
  height:44px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:14px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:513px;
  top:1670px;
  width:85px;
  height:26px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:948px;
  height:5px;
}
#u1018 {
  position:absolute;
  left:5px;
  top:2397px;
  width:945px;
  height:2px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:-7px;
  width:941px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  position:absolute;
  left:5px;
  top:2176px;
  width:85px;
  height:26px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:173px;
  top:2180px;
  width:59px;
  height:18px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1024 {
  position:absolute;
  left:90px;
  top:2189px;
  width:0px;
  height:0px;
}
#u1024_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u1025 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1026 {
  position:absolute;
  left:293px;
  top:2208px;
  width:300px;
  height:170px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:78px;
  width:296px;
  word-wrap:break-word;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1028 {
  position:absolute;
  left:293px;
  top:2180px;
  width:563px;
  height:18px;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  white-space:nowrap;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1030 {
  position:absolute;
  left:242px;
  top:2180px;
  width:44px;
  height:18px;
  color:#0000FF;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1032 {
  position:absolute;
  left:405px;
  top:2339px;
  width:77px;
  height:26px;
}
#u1032_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1032.mouseOver {
}
#u1033 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
