body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-5px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u679 {
  position:absolute;
  left:105px;
  top:85px;
  width:900px;
  height:28px;
}
#u680 {
  position:absolute;
  left:2px;
  top:6px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:452px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u681 {
  position:absolute;
  left:105px;
  top:115px;
  width:900px;
  height:452px;
}
#u682 {
  position:absolute;
  left:2px;
  top:218px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u683 {
  position:absolute;
  left:115px;
  top:90px;
  width:131px;
  height:18px;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u685 {
  position:absolute;
  left:115px;
  top:159px;
  width:886px;
  height:215px;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
}
#u687 {
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:30px;
}
#u688 {
  position:absolute;
  left:41px;
  top:0px;
  width:336px;
  height:30px;
}
#u689 {
  position:absolute;
  left:2px;
  top:8px;
  width:332px;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u690 {
  position:absolute;
  left:377px;
  top:0px;
  width:46px;
  height:30px;
}
#u691 {
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u692 {
  position:absolute;
  left:423px;
  top:0px;
  width:66px;
  height:30px;
}
#u693 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u694 {
  position:absolute;
  left:489px;
  top:0px;
  width:109px;
  height:30px;
}
#u695 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:30px;
}
#u696 {
  position:absolute;
  left:598px;
  top:0px;
  width:283px;
  height:30px;
}
#u697 {
  position:absolute;
  left:2px;
  top:8px;
  width:279px;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:45px;
}
#u698 {
  position:absolute;
  left:0px;
  top:30px;
  width:41px;
  height:45px;
}
#u699 {
  position:absolute;
  left:2px;
  top:15px;
  width:37px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:45px;
}
#u700 {
  position:absolute;
  left:41px;
  top:30px;
  width:336px;
  height:45px;
}
#u701 {
  position:absolute;
  left:2px;
  top:15px;
  width:332px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u702 {
  position:absolute;
  left:377px;
  top:30px;
  width:46px;
  height:45px;
  color:#FF0000;
}
#u703 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:45px;
}
#u704 {
  position:absolute;
  left:423px;
  top:30px;
  width:66px;
  height:45px;
}
#u705 {
  position:absolute;
  left:2px;
  top:15px;
  width:62px;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u706 {
  position:absolute;
  left:489px;
  top:30px;
  width:109px;
  height:45px;
}
#u707 {
  position:absolute;
  left:2px;
  top:15px;
  width:105px;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:45px;
}
#u708 {
  position:absolute;
  left:598px;
  top:30px;
  width:283px;
  height:45px;
}
#u709 {
  position:absolute;
  left:2px;
  top:14px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:45px;
}
#u710 {
  position:absolute;
  left:0px;
  top:75px;
  width:41px;
  height:45px;
}
#u711 {
  position:absolute;
  left:2px;
  top:15px;
  width:37px;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:45px;
}
#u712 {
  position:absolute;
  left:41px;
  top:75px;
  width:336px;
  height:45px;
}
#u713 {
  position:absolute;
  left:2px;
  top:15px;
  width:332px;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u714 {
  position:absolute;
  left:377px;
  top:75px;
  width:46px;
  height:45px;
  color:#FF0000;
}
#u715 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:45px;
}
#u716 {
  position:absolute;
  left:423px;
  top:75px;
  width:66px;
  height:45px;
}
#u717 {
  position:absolute;
  left:2px;
  top:15px;
  width:62px;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u718 {
  position:absolute;
  left:489px;
  top:75px;
  width:109px;
  height:45px;
}
#u719 {
  position:absolute;
  left:2px;
  top:15px;
  width:105px;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:45px;
}
#u720 {
  position:absolute;
  left:598px;
  top:75px;
  width:283px;
  height:45px;
}
#u721 {
  position:absolute;
  left:2px;
  top:14px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:45px;
}
#u722 {
  position:absolute;
  left:0px;
  top:120px;
  width:41px;
  height:45px;
}
#u723 {
  position:absolute;
  left:2px;
  top:15px;
  width:37px;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:45px;
}
#u724 {
  position:absolute;
  left:41px;
  top:120px;
  width:336px;
  height:45px;
}
#u725 {
  position:absolute;
  left:2px;
  top:15px;
  width:332px;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u726 {
  position:absolute;
  left:377px;
  top:120px;
  width:46px;
  height:45px;
  color:#FF0000;
}
#u727 {
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:45px;
}
#u728 {
  position:absolute;
  left:423px;
  top:120px;
  width:66px;
  height:45px;
}
#u729 {
  position:absolute;
  left:2px;
  top:15px;
  width:62px;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u730 {
  position:absolute;
  left:489px;
  top:120px;
  width:109px;
  height:45px;
}
#u731 {
  position:absolute;
  left:2px;
  top:15px;
  width:105px;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:45px;
}
#u732 {
  position:absolute;
  left:598px;
  top:120px;
  width:283px;
  height:45px;
}
#u733 {
  position:absolute;
  left:2px;
  top:14px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:45px;
}
#u734 {
  position:absolute;
  left:0px;
  top:165px;
  width:41px;
  height:45px;
}
#u735 {
  position:absolute;
  left:2px;
  top:15px;
  width:37px;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:45px;
}
#u736 {
  position:absolute;
  left:41px;
  top:165px;
  width:336px;
  height:45px;
}
#u737 {
  position:absolute;
  left:2px;
  top:15px;
  width:332px;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:45px;
}
#u738 {
  position:absolute;
  left:377px;
  top:165px;
  width:46px;
  height:45px;
  color:#FF0000;
}
#u739 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:45px;
}
#u740 {
  position:absolute;
  left:423px;
  top:165px;
  width:66px;
  height:45px;
}
#u741 {
  position:absolute;
  left:2px;
  top:15px;
  width:62px;
  word-wrap:break-word;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u742 {
  position:absolute;
  left:489px;
  top:165px;
  width:109px;
  height:45px;
}
#u743 {
  position:absolute;
  left:2px;
  top:14px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:45px;
}
#u744 {
  position:absolute;
  left:598px;
  top:165px;
  width:283px;
  height:45px;
}
#u745 {
  position:absolute;
  left:2px;
  top:14px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746 {
  position:absolute;
  left:5px;
  top:85px;
  width:95px;
  height:90px;
}
#u746_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:101px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u748_img.mouseOver {
}
#u748.mouseOver {
}
#u749 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u750 {
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:30px;
}
#u750_img.mouseOver {
}
#u750.mouseOver {
}
#u751 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u752 {
  position:absolute;
  left:0px;
  top:60px;
  width:95px;
  height:30px;
}
#u752_img.mouseOver {
}
#u752.mouseOver {
}
#u753 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u754 {
  position:absolute;
  left:543px;
  top:535px;
  width:20px;
  height:20px;
}
#u755 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u756 {
  position:absolute;
  left:573px;
  top:536px;
  width:38px;
  height:18px;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u758 {
  position:absolute;
  left:5px;
  top:5px;
  width:1000px;
  height:70px;
}
#u759 {
  position:absolute;
  left:2px;
  top:27px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u760 {
  position:absolute;
  left:25px;
  top:20px;
  width:196px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:2px;
}
#u762 {
  position:absolute;
  left:501px;
  top:310px;
  width:29px;
  height:1px;
}
#u763 {
  position:absolute;
  left:2px;
  top:-8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u764 {
  position:absolute;
  left:911px;
  top:123px;
  width:85px;
  height:26px;
}
#u764_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u764.mouseOver {
}
#u765 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u766 {
  position:absolute;
  left:5px;
  top:598px;
  width:320px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u767 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u768_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1003px;
  height:5px;
}
#u768 {
  position:absolute;
  left:5px;
  top:586px;
  width:1000px;
  height:2px;
}
#u769 {
  position:absolute;
  left:2px;
  top:-7px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u770 {
  position:absolute;
  left:5px;
  top:659px;
  width:300px;
  height:170px;
}
#u771 {
  position:absolute;
  left:2px;
  top:78px;
  width:296px;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u772 {
  position:absolute;
  left:117px;
  top:793px;
  width:77px;
  height:26px;
}
#u772_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u772.mouseOver {
}
#u773 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  position:absolute;
  left:315px;
  top:659px;
  width:300px;
  height:170px;
}
#u775 {
  position:absolute;
  left:2px;
  top:70px;
  width:296px;
  word-wrap:break-word;
}
#u776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u776 {
  position:absolute;
  left:361px;
  top:793px;
  width:77px;
  height:26px;
}
#u776_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u776.mouseOver {
}
#u777 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u778 {
  position:absolute;
  left:497px;
  top:793px;
  width:77px;
  height:26px;
}
#u778_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u778.mouseOver {
}
#u779 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u780 {
  position:absolute;
  left:625px;
  top:659px;
  width:300px;
  height:170px;
}
#u781 {
  position:absolute;
  left:2px;
  top:78px;
  width:296px;
  word-wrap:break-word;
}
#u782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u782 {
  position:absolute;
  left:737px;
  top:793px;
  width:77px;
  height:26px;
}
#u782_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u782.mouseOver {
}
#u783 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u784 {
  position:absolute;
  left:5px;
  top:627px;
  width:175px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u785 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u786 {
  position:absolute;
  left:5px;
  top:839px;
  width:148px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u787 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u788 {
  position:absolute;
  left:5px;
  top:871px;
  width:145px;
  height:18px;
}
#u789 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u790_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:948px;
  height:5px;
}
#u790 {
  position:absolute;
  left:5px;
  top:905px;
  width:945px;
  height:2px;
}
#u791 {
  position:absolute;
  left:2px;
  top:-7px;
  width:941px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u792 {
  position:absolute;
  left:787px;
  top:340px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u793 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u794 {
  position:absolute;
  left:857px;
  top:296px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u795 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u796 {
  position:absolute;
  left:787px;
  top:296px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u797 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u798 {
  position:absolute;
  left:800px;
  top:205px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u799 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u800 {
  position:absolute;
  left:835px;
  top:205px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u802 {
  position:absolute;
  left:870px;
  top:205px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u803 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u804 {
  position:absolute;
  left:800px;
  top:250px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u806 {
  position:absolute;
  left:835px;
  top:250px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u807 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u808 {
  position:absolute;
  left:870px;
  top:250px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u809 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u810 {
  position:absolute;
  left:894px;
  top:296px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u812 {
  position:absolute;
  left:823px;
  top:296px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u814 {
  position:absolute;
  left:822px;
  top:340px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u816 {
  position:absolute;
  left:857px;
  top:340px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u818 {
  position:absolute;
  left:894px;
  top:340px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
